.App {
	text-align: center;
	background-color: #d3e0fa;
	box-sizing: border-box;
	overflow: hidden;
}

.App-header {
	background-color: #282c34;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.content {
	background-image: url(https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/a937cb644cc76c0ac79fe48bc58506bc/large.jpg);
	background-size: 100vw;
	display: flex;
	flex-direction: row;
}

.lists {
	min-height: 90vh;
	min-width: 75vw;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

li {
	background-color: #d3e0fa;
	border: 2px solid white;
	margin: 2px;
	padding: 3px;

	height: 60px;
	width: 300px;
	list-style: none;
}

.App-side-bar {
	margin: 40px 2px 2px 2px;
	background-color: #d3e0fa;
	box-sizing: border-box;
	width: 15vw;
	height: 60px;
	padding: 3px;
}
